@head-bg: #2e3641;
@nav-width: 50%;
@head-height: 75px;
@text-on-dark-color: #ccc;
@text-on-light-color: #333;
@body-bg: #eee;
@phone-width: ~"(max-width:815px)";
@bs0: ~"(min-width:0px)";
@bs1: ~"(min-width:576px)";
@bs2: ~"(min-width:768px)";
@bs3: ~"(min-width:992px)";
@bs4: ~"(min-width:1200px)";
@main-padding-top: 45px;
@main-padding: 8px;
@main-padding-2: 24px;
@main-bg: #fff;
@bradius: 10px;

html, body{
    margin: 0;
    font-family: 'Exo 2', sans-serif;
    background-color: @body-bg;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    padding: 0;
}
img{
    transition: 0.3s all;
    &:hover{
        filter: brightness(115%) grayscale(10%);
    }
}
a:not(.btn){
    //color: @text-on-light-color !important;
    text-decoration: none;
    color: lighten(@text-on-light-color, 10%);
}
.hidden{
    display: none;
}
.material-icons{
    font-size: 1.2rem !important;
}
.invisible-md{
    @media @bs2{display: none;}
}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 8px;
    padding-right: 8px;
    background-color: @head-bg;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 0 0 5px black;
    nav{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        width: @nav-width;
        padding-top: 8px;
        padding-bottom: 8px;
        @media @phone-width{
            width: 100%;
        }
        a{
            font-size: 1.2rem !important;
            @media @phone-width{
                font-size: 0.8rem !important;
            }
            display: inline-flex !important;
            flex-direction: row !important;
            align-items: center !important;
            color: @text-on-dark-color !important;
            text-decoration: none !important;
            height: 100% !important;
            transition: .3s cubic-bezier(.03, .5, 0, 1) all .1s !important;
             &:hover{
                color: lighten(@text-on-dark-color, 20%) !important;
            }
        }
    }
    .logo_image{
        @media @bs0{width: 100%;}
        @media @bs2{width: auto;}
    }
    .logo_image:hover{
        cursor: pointer;
    }
}
footer{
    background-color: @head-bg;
    width: 100%;
    height: 200px;
    display: none;
}
#main_1{
    padding-top: @main-padding-top;
    .news-featured-block, .news-block{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content:flex-start;
        position: relative;
        box-shadow: 0px 0px 3px gray;
        border: 1px solid silver;
        padding:0;
        background-color: @main-bg;
        margin-bottom: @main-padding;
        img{
            position: relative;
            width: 100%;
            @media @bs0{heigth: 100px;}
            @media @bs1{heigth: /*152.0px*//*101.25px;*/126.5625px;}
            @media @bs2{heigth: /*202.5px*//*135px;*/168.75px;}
            @media @bs3{heigth: /*270.0px*//*180px;*/225px;}
            @media @bs4{heigth: /*320.625px*//*213.75px;*/267.1875px;}
            z-index: 0;
        }
        .data{
            padding: @main-padding;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-around;
            .header{
                width: 100%;
                font-weight:700;
                font-size: 1.2rem;
                text-align: justify;
                padding-bottom: @main-padding;
            }
            .header-bold{
                font-weight: 900;
                color: red;
            }
            .baseinfo{
                display: inline-flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                width: 100%;
                padding-bottom: @main-padding;
                color:grey !important;
                display: none !important;
            }
            .preread{
                text-align: justify;
                padding-bottom: @main-padding;
            }
            .readbuttoncnt{
                display: inline-flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                .news-type{
                    padding: @main-padding;
                    color: #fff;
                    border-radius: @bradius;
                }
            }
        }
    }
    .bef-blocks{
        width: 80vw;
        margin-left: 10vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
        color: grey;
    }
    .news-cnt{
        width: 100vw;
        .news-block{
            margin-bottom: 5vh;
            @media @bs0{width: 100vw;}
            @media @bs1{width: 40vw;}
            @media @bs3{width: 30vw;}
        }
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .readall{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        border: 1px solid transparent;
        box-shadow: 0 0 0 black;
        img{
            width: 240px;
            height: 240px;
        }
        width: auto;
        text-decoration: none;
        transition: .3s ease-in all .1s;
        font-weight: 900;
        font-size: 2rem;
        &:hover{
            background-color: darken(@main-bg, 35%);
            color: lighten(@text-on-light-color, 90%);
        }
    }
}
footer{
    padding: @main-padding-top @main-padding;
    width: 100%;
    img{
        width: 100%;
    }
    a{
        color: @text-on-dark-color !important;
        text-align: left;
        &:nth-child(even){
            text-align: left;
        }
    }
    .cc{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
}

#main_2, #main_9{
    .news{
        background-color: @main-bg;
        margin:@main-padding-top 0;
        padding: @main-padding-2;
        box-shadow: 0 0 3px gray;
        text-align: justify;
        .header{
            font-weight: 700;
            text-align: left;
            margin-bottom: @main-padding-2;
        }
        .baseinfo{
            display: inline-flex;
            flex-direction: row;
            flex-wrap: wrap-reverse;
            justify-content: space-around;
            width: 100%;
            margin-bottom: @main-padding-2;
            color:silver !important;
            font-size: 0.9rem;
            .block{
                margin: 0 1%;
            }
        }
        img{
            width: 100%;
            margin-bottom: 3vh;
        }
        .source{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            font-weight: nowrap;
            width: 100%;
            font-size: 0.8rem;
        }
    }
}
#main_3{
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    .login-box{
        position: relative;
        box-sizing: border-box;
        @media @bs0{width: 100%;}
        @media @bs1{width: 576px;}
        background-color: @main-bg;
        padding: @main-padding-2;
        border-radius: @bradius;
        border: silver 1px solid;
        box-shadow: 0 0 1px silver;
        .alert1{
            width: 100%;
            text-align: justify;
            color: #ff0000;
        }
        input{
            border: 1px solid white;
            border-radius: @bradius;
            height: 50px;
            padding: @main-padding;
            margin-bottom: 20px;
            width: 100%;
            box-shadow: 0 0 10px silver;
            transition: .2s cubic-bezier(0, .96, 1, -0.03) all .1s !important;
            &:focus{
                outline: 0;
                box-shadow: 0 0 10px blue;
            }
        }
        .block3{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            button{
                border-radius: @bradius !important;
            }
        }
        .block-skip{
            height: 25px;
        }
    }
}
#main_5, #main_4, #main_8{
    padding-top: @main-padding-top;
    .news-list{
        background-color: @main-bg;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 3px silver;
        border: 1px solid silver;
        color: @text-on-light-color;
        padding: @main-padding-top @main-padding-2;
        margin-bottom: @main-padding-top;
        h1{
            text-align: center;
        }
        hr{
            width: 90%;
            margin-left: 5%;
        }
        .element{
            width: 100%;
            display: flex;
            @media @bs0{flex-direction: column;}
            @media @bs2{flex-direction: row;}
            flex-wrap: nowrap;
            .left{
                margin-right: @main-padding;
            }
            .right{
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: flex-start;
                text-align: justify;
                font-size: 1rem;
                .header{
                    font-size: 1.2rem;
                    font-weight: 700;
                    width: 100%;
                }
                .baseinfo{
                    display: inline-flex;
                    flex-direction: row;
                    flex-wrap: wrap-reverse;
                    justify-content: space-between;
                    color: grey;
                    width: 100%;
                }
                .preread{
                    font-size: 1rem;
                }
                .down_block{
                    display: inline-flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    width: 100%;
                    .news-type{
                        padding: @main-padding;
                        color: #fff;
                        border-radius: @bradius;
                    }
                }
            }
        }
        .nothing-to-see{
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            min-height: 300px;
            h2{
                color:lighten(@text-on-light-color, 30%);
                margin-bottom: 1%;
            }
            h3{
                color:lighten(@text-on-light-color, 50%);
            }
        }
    }
}
#main_4{
    #add_text{
        transition: .1s ease-in all .1s;
        .left{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            .material-icons{
                font-size: 196px !important;
            }
        }
        .right{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
        }
        &:hover{
            background-color: darken(@main-bg, 10%);
            cursor: pointer;
        }
    }
    .header-cnt{
        .content-edit{
            padding-left: @main-padding;
            cursor: pointer;
            color: @text-on-light-color;
            &:hover{
                text-decoration: underline;
            }
        }
        padding: @main-padding;
        width: 100%;
    }
}
#main_6, #main_7{
    .edit-box{
        input[type=radio]{
            margin-right: @main-padding;
        }
        textarea{
            width: 100%;
            height: 100px;
        }
        textarea #ta1{
            height: 300px;
        }
        .row{
            margin: 1% 0;
            .align-middle{
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                @media @bs2{justify-content: flex-end;}
                align-items: center;
            }
        }
        #tttalert{
            background-color: @main-bg;
        }
        .fm-el{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            background-color: @main-bg;
            border-radius: @bradius;
            padding: @main-padding;
        }
    }
    .news-list{
            padding: 0 !important;
        }
    #photos_up{
        width: 100%;
    }
    .container-fluid{
        padding: 0 !important;
    }
    .btn-group{
        width: 100%;
        .btn{
            width: 33.3%;
            @media @bs0{font-size: 0.8rem;}
            @media @bs2{font-size: 1rem;}
        }
    }
}
#main_9{
    #ilog{
        filter: invert();
    }
}